In [78]:
#Import libraries

In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [80]:
#Read dataset

In [81]:
dataset = pd.read_csv("D:\Files\Eftiar\Thesis\Dataset\outbreaks.csv")

In [82]:
dataset.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

In [83]:
fooddata = pd.read_csv("D:\Files\Eftiar\Thesis\Dataset\FoodData.csv")

In [84]:
fooddata.head()

,Year,Month,State,Genus Species,Serotype or Genotype,Etiology Status,Location of Preparation,Illnesses,Hospitalizations,Deaths,Food Vehicle,Contaminated Ingredient
0,2009,1,Minnesota,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,2,0.0,0.0,NaN,NaN
1,2009,1,Minnesota,Norovirus,NaN,Confirmed,NaN,16,0.0,0.0,NaN,NaN
2,2009,1,Minnesota,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,5,0.0,0.0,NaN,NaN
3,2009,1,Minnesota,Norovirus,NaN,Confirmed,"Restaurant - ""Fast-food""(drive up service or p...",3,0.0,0.0,NaN,NaN
4,2009,1,Minnesota,Norovirus,NaN,Confirmed,Restaurant - other or unknown type,21,0.0,0.0,cookies,NaN

In [85]:
#Extracting variables

In [86]:
X = dataset.drop(['Year','Month','State','Serotype/Genotype','Status','Hospitalizations','Fatalities'], axis = 1)
y = dataset['Status']

In [95]:
# data preprocessing

from sklearn import preprocessing
le_x = preprocessing.LabelEncoder()
X.Location = le_x.fit_transform(X.Location)
X.Food = le_x.fit_transform(X.Food)
X.Ingredient = le_x.fit_transform(X.Ingredient)
X.Species = le_x.fit_transform(X.Species)

In [96]:
X

       Location  Food  Ingredient  Species  Illnesses
0            98  3127         381      201         20
1           161   860         381      201        112
2            98  3127         381      201         35
3            98  1034         381      162          4
4            65  1518         381      133         26
...         ...   ...         ...      ...        ...
19114        98  3127         381      107          4
19115        65  2364         381      107         16
19116        55  3127         381      107         43
19117        30  3127         381      107          5
19118       161  3127         381      201          3

[19119 rows x 5 columns]

In [97]:
#Train & test the dataset

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 1)

In [98]:
# Scaling

from sklearn.preprocessing import StandardScaler
st_X = StandardScaler()
X_train = st_X.fit_transform(X_train)
X_test = st_X.transform(X_test)

In [92]:
# apply random forest

#from sklearn.ensemble import RandomForestClassifier
#rfc = RandomForestClassifier(n_estimators = 10)
#rfc_pred = rfc.predict(X_test)
#rfc.fit(X_train, y_train)

In [99]:
# apply decision tree

# from sklearn.tree import DecisionTreeClassifier
# dtree = DecisionTreeClassifier()
# dtree.fit(X_train, y_train)

In [102]:
# apply logistic

# from sklearn.linear_model import LogisticRegression
# classifier = LogisticRegression(random_state = 0)
# classifier.fit(X_train, y_train)